/* Header */
.header {
  display: flex;
  flex-direction: column;
  position: relative;
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  display: flex;
  flex: 1;
  align-items: center;
}

.header__logo::after {
  content: "";
  background: repeating-linear-gradient(90deg, var(--accent), var(--accent) 2px, transparent 0, transparent 10px);
  display: block;
  width: 100%;
  height: 35px;
  margin-left: 10px;
}

.header__logo a {
  flex: none;
  max-width: 100%;
  text-decoration: none;
}

.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  background: var(--accent);
  color: var(--background);
  font-weight: 700;
  padding: 5px 10px;
  gap: 8px;
}

.logo__avatar {
  width: 22px;
  height: 22px;
  border-radius: 999px;
  border: 1px solid color-mix(in srgb, var(--background) 50%, transparent) !important;
  padding: 0 !important;
  margin: 0 !important;
  object-fit: cover;
  background: var(--background);
}

/* Responsive */
@media (max-width: 684px) {
  .header__inner {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  
  .header__logo {
    margin-bottom: 0;
    flex: 1;
  }
  
  .header__logo::after {
    display: block;
    width: auto;
    flex: 1;
    margin-left: 10px;
    margin-right: 10px;
  }
}
